@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #fce3bd;
    font-family: 'Nunito', Arial;
    margin: 0;
}
.parallax_image {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_01 {
    height: 100vh;
    background-image: url(background_01.jpg);
}

.image_02 {
    height: 100vh;
    background-image: url(background_02.jpg);
}

.image_03 {
    height: 100vh;
    background-image: url(background_03.jpg);
}

.h1 {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 14px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    color: rgb(156, 104, 6);
}

.h2 {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 14px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(156, 104, 6);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin: 10px;
    
}

.information {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.5;
}

.video {
    height: 300px;
    width: 100%;
}