@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background-color: #fce3bd;
    font-family: 'Nunito', Arial;
    margin: 0;
}
.parallax_image {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_01 {
    height: 100vh;
    background-image: url(background_01.jpg);
}

.image_02 {
    height: 100vh;
    background-image: url(background_02.jpg);
}

.image_03 {
    height: 100vh;
    background-image: url(background_03.jpg);
}

.h1 {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 14px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    color: rgb(156, 104, 6);
}

.h2 {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 14px 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1.875em;
    color: rgb(156, 104, 6);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin: 10px;
    
}

.information {
    max-width: 500px;
    font-size: 1.125em;
    line-height: 1.5;
}

.video {
    height: 500px;
    width: 800px;
}

.split {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Responsive opp til desktop */
@media (max-width: 1025px) {
    .video {
        height: 500px;
        width: 800px;
    }
	
}
/* Responsive opp til desktop liten */
@media (max-width: 1024px) {
    .video {
        height: 500px;
        width: 700px;
    } 
	
}
/* Responsive opp til tablet */
@media (max-width: 770px) {
    .video {
        height: 400px;
        width: 600px;
    }   
    
}
/* Responsive opp til mobil */
@media (max-width: 426px) {
	.video {
        height: 300px;
        width: 410px;
    }
}